## Testing

Below are simple tests to check the assertions in the code. 

Remark: Each function checks whether the input data is of type pd.DataFrame, however this will not be shown in the tests.

In [81]:
import classification as clas
import pandas as pd
from datetime import datetime

Generating dataset of different data types

In [82]:
dates = [
    datetime(2022, 1, 1),
    datetime(2022, 1, 2),
    datetime(2022, 1, 3),
    datetime(2022, 1, 4),
    datetime(2022, 1, 5),
    datetime(2022, 1, 6)
]

# Compute timedelta by subtracting each date from the first date
timedeltas = [(date - dates[0]) for date in dates]

# Create DataFrame
data = {
    'int_col': [1, 2, 3, 4, 5, 6],
    'float_col': [1.1, 2.2, 3.3, 4.4, 5.5, 6.6],
    'str_col': ['a', 2.4, 'c', 'd', 3, 'f'],
    'bool_col': [True, False, True, False, True, False],
    'datetime_col': dates,
    'timedelta_col': timedeltas,
    'category_col': pd.Categorical(['cat', 'dog', 'cat', 'dog', 'cat', 'dog'])
}

df = pd.DataFrame(data)

clas.printVariableType(df)

,Column,Variable_Type,the percentage values of unique values
0,int_col,int64 (Integer numbers),1.000
1,float_col,float64 (Floating point numbers),1.000
2,str_col,object (Text or mixed numeric and non-numeric ...,1.000
3,bool_col,bool (True/False values),0.333
4,datetime_col,datetime64[ns] (Date and time values),1.000
5,timedelta_col,timedelta64[ns] (Differences between two datet...,1.000
6,category_col,category (Finite list of text values),0.333

1. changeNameToSurname

In [44]:
clas.changeNameToSurname(df, 'first')

AssertionError: Column first column not found in the DataFramee

In [ ]:
clas.changeNameToSurname(df, 'str_col')

In [ ]:
df.rename(columns={'str_col': 'Name'}, inplace=True)

clas.changeNameToSurname(df, 'Name')

2. dropColumns

In [ ]:
clas.dropColumns(df, 'abc')

In [ ]:
clas.dropColumns(df, ['abc'])

3. computePCA

In [ ]:
test = df.drop(columns=['int_col'])

clas.computePCA(df, test)

4. normalizeData

In [58]:
clas.normalizeData(df, 'int_col')

ValueError: could not convert string to float: 'a'

In [60]:
clas.changeCaterogicalToDescrite(df)

TypeError: Encoders require their input argument must be uniformly strings or numbers. Got ['float', 'int', 'str']

In [83]:
train, test = clas.getTwoDatasets(df)
train_target = train['category_col']
test_target = test['category_col']
clas.getAccuracy(train, train_target, test, test_target)

Unexpected exception formatting exception. Falling back to standard exception

Traceback (most recent call last):
  File "C:\Users\lidka\AppData\Roaming\Python\Python311\site-packages\IPython\core\interactiveshell.py", line 3508, in run_code
    exec(code_obj, self.user_global_ns, self.user_ns)
  File "C:\Users\lidka\AppData\Local\Temp\ipykernel_8696\4169374698.py", line 4, in <module>
    clas.getAccuracy(train, train_target, test, test_target)
  File "c:\Users\lidka\OneDrive - put.poznan.pl\Pulpit\studia\4 semestr\DM\Assignment1\DM_Titanic\classification.py", line 357, in getAccuracy
AssertionError: train_Y must be a pandas DataFrame

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "C:\Users\lidka\AppData\Roaming\Python\Python311\site-packages\IPython\core\interactiveshell.py", line 2105, in showtraceback
    stb = self.InteractiveTB.structured_traceback(
          ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "C:\Users\lidka\AppData\Roaming\Python\Python311\site-packages\IPython\core\ultratb.py", line 1396, in structured_traceback
    return FormattedTB.structured_traceback(
           ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "C:\Users\lidka\AppData\Roaming\Python\Python311\site-packages\IPython\core\ultratb.py", line 1287, in structured_traceback
    return VerboseTB.structured_traceback(
           ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "C:\Users\lidka\AppData\Roaming\Python\Python311\site-packages\IPython\core\ultratb.py", line 1140, in structured_traceback
    formatted_exception = self.format_exception_as_a_whole(etype, evalue, etb, number_of_lines_of_context,
                          ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "C:\Users\lidka\AppData\Roaming\Python\Python311\site-packages\IPython\core\ultratb.py", line 1055, in format_exception_as_a_whole
    frames.append(self.format_record(record))
                  ^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "C:\Users\lidka\AppData\Roaming\Python\Python311\site-packages\IPython\core\ultratb.py", line 955, in format_record
    frame_info.lines, Colors, self.has_colors, lvals
    ^^^^^^^^^^^^^^^^
  File "C:\Users\lidka\AppData\Roaming\Python\Python311\site-packages\IPython\core\ultratb.py", line 778, in lines
    return self._sd.lines
           ^^^^^^^^^^^^^^
  File "C:\Users\lidka\AppData\Roaming\Python\Python311\site-packages\stack_data\utils.py", line 144, in cached_property_wrapper
    value = obj.__dict__[self.func.__name__] = self.func(obj)
                                               ^^^^^^^^^^^^^^
  File "C:\Users\lidka\AppData\Roaming\Python\Python311\site-packages\stack_data\core.py", line 734, in lines
    pieces = self.included_pieces
             ^^^^^^^^^^^^^^^^^^^^
  File "C:\Users\lidka\AppData\Roaming\Python\Python311\site-packages\stack_data\utils.py", line 144, in cached_property_wrapper
    value = obj.__dict__[self.func.__name__] = self.func(obj)
                                               ^^^^^^^^^^^^^^
  File "C:\Users\lidka\AppData\Roaming\Python\Python311\site-packages\stack_data\core.py", line 681, in included_pieces
    pos = scope_pieces.index(self.executing_piece)
                             ^^^^^^^^^^^^^^^^^^^^
  File "C:\Users\lidka\AppData\Roaming\Python\Python311\site-packages\stack_data\utils.py", line 144, in cached_property_wrapper
    value = obj.__dict__[self.func.__name__] = self.func(obj)
                                               ^^^^^^^^^^^^^^
  File "C:\Users\lidka\AppData\Roaming\Python\Python311\site-packages\stack_data\core.py", line 660, in executing_piece
    return only(
           ^^^^^
  File "C:\Users\lidka\AppData\Roaming\Python\Python311\site-packages\executing\executing.py", line 190, in only
    raise NotOneValueFound('Expected one value, found 0')
executing.executing.NotOneValueFound: Expected one value, found 0